header {
    width: 100%;
    padding: 15px;
    box-shadow: 0 0px 0px 0 rgb(0 0 0 / 20%), 0 0px 2px 0 rgb(0 0 0 / 19%);
    background: #f9f9f9;
}

.toggleMenu {
    width: max-content;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}