.sidebar {
    width: 100%;
    height: 100%;
}

.logo {
    width: 150px;
    height: 150px;
    margin: auto;
}

.logo img {
    width: auto;
    max-width: 100%;
}

.menu {
    margin: 40px 0 10px 0;
}

.menu li {
    padding: 10px 0;
}

.menu li a {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    cursor: pointer;
    outline: none;
    border-left: 3px solid #f1f1f1;
    padding-left: 20px;
}

.menu li a.active,
.menu li a:hover,
.menu li a:focus {
    font-weight: 600;
    color: #a40204;
    border-left: 3px solid #a40204;
}